{minimum_otp_vsn, "21.0"}.

{erl_opts, [report,
            warn_keywords,
            warn_unused_import,
            warn_missing_spec_all
]}.

{deps, [{getopt, "1.0.2"}]}.

{escript_name, emqttsn_cli}.
{escript_main_app, emqttsn}.
{escript_incl_apps, [getopt]}.
{escript_emu_args, "%%! -smp true +K true +A 16 +P 200000 -env ERL_MAX_PORTS 100000 -env ERTS_MAX_PORTS 100000\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.


{profiles,
 [{test,
   [{deps,
     [ 
      {emqx, {git, "https://github.com/emqx/emqx.git", {tag, "v4.3.20"}}},
      {emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {branch, "develop"}}},
      {emqx_sn, {git_subdir, "https://github.com/emqx/emqx", {tag, "v4.3.20"}, "apps/emqx_sn/"}}
     ]},
    {erl_opts, [debug_info, nowarn_missing_spec_all]}
   ]},
  {escript, []},
  {emqttsn,
   [{relx,
     [{release, {emqttsn, git_describe}, [
       kernel
     ]},
      {overlay_vars,["vars.config"]},
      {overlay, [
        {copy, "_build/escript/bin/emqttsn_cli", "bin/emqttsn_cli"},
        {copy,"bin/emqttsn","bin/emqttsn"}
      ]},
      {include_src, false},
      {extended_start_script, false},
      {generate_start_script, false},
      {sys_config, false},
      {vm_args, false},
      {include_erts, true}
     ]}
   ]},
  {emqttsn_pkg,
   [{relx,
     [{release, {emqttsn, git_describe}, [
       kernel
     ]},
      {overlay_vars,["vars-pkg.config"]},
      {overlay, [
        {copy, "_build/escript/bin/emqttsn_cli", "bin/emqttsn_cli"},
        {copy,"bin/emqttsn","bin/emqttsn"}
      ]},
      {include_src, false},
      {extended_start_script, false},
      {generate_start_script, false},
      {sys_config, false},
      {vm_args, false},
      {include_erts, true}
     ]

    }
   ]}
 ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{dialyzer_base_plt_apps,
 [kernel,
  stdlib,
  erts
 ]}.
